@import "../../../../common-variables.less";

label{
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  color: @text-color;
}

@media (max-width: 450px)
{
  label{
    font-size: @text-xs;
  }
}
