@import "../../../../common-variables.less";

input {
  width: 100%;
  padding: 6px 15px;
  font-family: 'Noto Sans', sans-serif;
  background-color: @secondary-color;
  border: 2px solid rgba(@light-grey, 0.6);
  border-radius: 7px;
  box-sizing: border-box;
  transition-duration: @transition-duration;

  &:focus{
    outline: none;
  }
  
  &::placeholder{
    font-family: 'Noto Sans', sans-serif;
    color: @light-grey;
  }

  &:focus{
    outline: none;
    border: 2px solid @custom-primary;
  }

  &.error-field{
    border: 2px solid rgba(red, 0.4)
  }
}


