@import "./common-variables.less";

body{
  margin: 0;
  background-color: @custom-primary;
}

div:where(.swal2-container) div:where(.swal2-popup){
  font-family: @text-font !important;
}

h1, h2{
  font-family: @title-font !important;
}

p, label{
  font-family: @text-font !important;
}
